[submodule "src/temoto"]
	path = src/temoto
	url = https://github.com/temoto-telerobotics/temoto
[submodule "src/temoto_core"]
	path = src/temoto_core
	url = https://github.com/temoto-telerobotics/temoto_core
[submodule "src/temoto_action_engine"]
	path = src/temoto_action_engine
	url = https://github.com/temoto-telerobotics/temoto_action_engine
[submodule "src/temoto_action_assistant"]
	path = src/temoto_action_assistant
	url = https://github.com/temoto-telerobotics/temoto_action_assistant
[submodule "src/temoto_er_manager"]
	path = src/temoto_er_manager
	url = https://github.com/temoto-telerobotics/temoto_er_manager
[submodule "src/temoto_component_manager"]
	path = src/temoto_component_manager
	url = https://github.com/temoto-telerobotics/temoto_component_manager
[submodule "src/file_template_parser"]
	path = src/file_template_parser
	url = https://github.com/ut-ims-robotics/file_template_parser.git
[submodule "src/human_tracking/openpose_gesture_control"]
	path = src/human_tracking/openpose_gesture_control
	url = https://github.com/ut-ims-robotics/openpose_gesture_control
[submodule "src/human_tracking/openpose"]
	path = src/human_tracking/openpose
	url = https://github.com/CMU-Perceptual-Computing-Lab/openpose
[submodule "src/human_tracking/vision_opencv"]
	path = src/human_tracking/vision_opencv
	url = https://github.com/ros-perception/vision_opencv
[submodule "src/human_tracking/cv_camera"]
	path = src/human_tracking/cv_camera
	url = https://github.com/OTL/cv_camera
[submodule "src/human_tracking/openpose_ros"]
	path = src/human_tracking/openpose_ros
	url = https://github.com/firephinx/openpose_ros
